#include "wx/msw/wx.rc"

IDI_APPICON ICON "wsprlite.ico"

1 VERSIONINFO
FILEVERSION     1,2,0,0
PRODUCTVERSION  1,2,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "SOTAbeams"
      VALUE "FileDescription", "WSPRlite configuration app"
      VALUE "InternalName", "WSPRliteConfig"
      VALUE "LegalCopyright", "SOTAbeams"
      VALUE "ProductName", "WSPRlite for DXplorer"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
